// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "compass/css3";

$hover-color: rgb(39, 130, 228);
$base-color: #888;
.ec-stars-wrapper {
  /* Espacio entre los inline-block */
  font-size: 0;
  display: inline-block;
  a {
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-size: 2rem;
    
    color: $base-color;
  }

  &:hover a {
    color: rgb(39, 130, 228);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(darken($hover-color, 25%), lighten($hover-color, 25%));
  }
  & a:hover ~ a {
    color: $base-color;
    -webkit-text-fill-color: $base-color;
  }
}